absl-py==2.5.0
annotated-types==0.8.0
branca==0.8.2
certifi==2026.7.22
charset-normalizer==3.5.2
cloudpickle==3.1.2
colorama==0.4.6
folium==0.20.0
geographiclib==2.1
geopandas==1.2.0
geopy==2.5.0
idna==3.20
immutabledict==4.3.1
iniconfig==2.3.0
Jinja2==3.1.6
joblib==1.6.0
MarkupSafe==3.0.4
narwhals==2.26.0
networkx==3.7
numpy==2.5.3
ortools==9.15.6755
osmnx==2.1.1
packaging==26.3
pandas==3.0.6
pip==26.2.1
pluggy==1.6.0
protobuf==6.33.6
pydantic==2.13.5
pydantic_core==2.46.5
Pygments==2.21.0
pyogrio==0.13.0
pyproj==3.8.0
PySide6==6.11.2
PySide6_Addons==6.11.2
PySide6_Essentials==6.11.2
pytest==9.1.1
python-dateutil==2.9.0.post0
requests==2.34.2
ruff==0.16.10
scikit-learn==1.9.1
scipy==1.18.1
setuptools==84.0.0
shapely==2.1.2
shiboken6==6.11.2
six==1.17.0
threadpoolctl==3.7.0
typing_extensions==4.16.0
typing-inspection==0.4.4
tzdata==2026.5
urllib3==2.8.0
xyzservices==2026.9.1
